.categories-container {
	justify-content: center;
	border-radius: 8px;
}

.categories-container > a {
	margin: 1rem;
	padding: 0.5rem;
	border-radius: 16px;
	color: #757575;
}

#category-icon {
	background-color: #e8e8e8;
}

#category-highlight-icon {
	background-color: #ff678c;
	color: white;
}
