.flex {
	display: flex;
}

.header-container {
	padding: 2rem 0;
	margin-left: 1rem !important;
}

.header-container > p {
	color: #757575;
}

.btn-add {
	position: absolute !important;
	right: 3rem;
	bottom: 3rem;
}
