.flex {
	display: flex;
}

.list-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* CARD */
.card-container {
	margin: 0.5rem;
	border-radius: 16px !important;
}

.card-icon {
	justify-content: flex-end;
}

/* CATEGORIES */
.categories-container {
	justify-content: center;
	border-radius: 8px;
}

.categories-container > a {
	width: 32px;
	height: 64px;
	margin: 1rem;
	padding: 1rem 2rem;
	border-radius: 16px;
	background-color: #e8e8e8;
}

.categories-container > a > svg {
	font-size: 40px;
}
